@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
  }
}

@layer utilities {
  .safe-area-inset-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
  
  .safe-area-inset-top {
    padding-top: env(safe-area-inset-top);
  }
}